DJANGO_SECRET_KEY=replace-this-secret
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:3000

# SQLite default values (works out of the box)
DJANGO_DB_ENGINE=django.db.backends.sqlite3
DJANGO_DB_NAME=./src/db.sqlite3
DJANGO_DB_USER=
DJANGO_DB_PASSWORD=
DJANGO_DB_HOST=
DJANGO_DB_PORT=
